<header class="transition">
    <div class="container">
        <div class="row flex-align">
            <div class="col-lg-4 col-md-3 col-8">
                <div class="logo">
                    <a href=""><img src="/document_files/logo.png" class="transition" alt="Global Exchange Trading"></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-9 col-4 text-right">
                <div class="menu-toggle">
                    <span></span>
                </div>
                <div class="menu">
                    <ul class="d-inline-block">
                        
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/Plan">Plans</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                  
                </div>
            </div>
        </div>
    </div>
</header>