<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Basic Page Needs -->
		<meta charset="utf-8">
		<title>Global Exchange Trading</title>

		<!-- Mobile Specific Metas -->
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link type="image/x-icon" href="/document_files/fav-icon.png" rel="icon">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="/document_files/style.css">
		<link rel="stylesheet" type="text/css" href="/document_files/color.css">
		<link rel="stylesheet" type="text/css" href="/document_files/responsive.css">
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script type="text/javascript" src="/document_files/analytics.js"></script><script async="" src="document_files/js.js?id=UA-142494086-2"></script>
		<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-142494086-2');
		</script>
	</head>
	<body>
        
        <%-body%>
    	<script src="/document_files/jquery-3.4.1.min.js"></script>
		<script src="/document_files/bootstrap.min.js"></script>
		<script src="/document_files/owl.carousel.min.js"></script>
		<script src="/document_files/snap.svg-min.js"></script>
		<script src="/document_files/jquery.listtopie.min.js"></script>
		<script src="/document_files/animation.js"></script>
		<script src="/document_files/custom.js"></script>
		
	


    </body>
</html>